.navbar.navbar-fixed-top .navbar-inner.my_navbar_inner {
    background: url("../img/blue_header.jpg") center no-repeat;
    height: 62px;
}

.my_brand a {
    color: #fff;
}

.my_navbar_inner ul.my_nav li a {
    color: #fff;
}

.page-header.my_header {
    margin: 64px 0 30px;
}

.my_navbar_inner .container {
    margin-top: 10px;
}